.support {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.support-header {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    color: var(--fg-green);
    margin-top: 8%;
    margin-bottom: 40px;
    letter-spacing: -1.3px;
    font-weight: 900;
}

.support-title {
    text-align: center;
    flex-grow: 1; /* This will make the <div> take up the available space */
}

.mobile-container {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.support-content {
    max-width: 800px;
    margin: 0 auto; /* Center the content horizontally */
    padding-left: 20px;
    color: #999999;
    font-size: 15px;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 30px;
    letter-spacing: 0.9px;
    font-family: var(--font-secondary);
}

.support-content > input {
    border: none;
    outline: none;
    border-bottom: 3px solid var(--fg-green);
    background-color: var(--bg-black);
    padding-left: 5px;
    line-height: 50px;
    font-weight: 700;
    color: var(--fg-green);
    margin-left: 10px;
    margin-right: 10px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.form-group label {
    color: #999999;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    height: 40px;
    margin-left: -200px;
    padding: 10px;
    border: 1px solid var(--fg-green);
    background-color: var(--bg-black);
    color: var(--fg-green);
    font-weight: 700;
    box-sizing: border-box;
    line-height: 20px;
}

.txt-content {
    margin-top: 20px;
}

.center-container {
    margin-top: 20px;
    text-align: center;
}

.submit {
    width: 25%;
    border: 3px solid var(--fg-green);
    font-size: 1.4em;
    color: var(--fg-green);
    border-radius: 7px;
    font-weight: 900;
    position: relative;
    left: 70px;
}

.submit:hover {
    width: 25%;
    border: 3px solid var(--fg-green);
    font-size: 1.4em;
    color: #be57ff;
    border-radius: 7px;
    font-weight: 900;
    position: relative;
    left: 70px;
}
    /* Existing styles for desktop screens */

    @media only screen and (max-width: 900px) {
        .support-container {
            margin-top: 60px;
        }

        .support-header {
            margin-top: 20px;
            margin-left: 25px;
            text-align: center; /* Center-align the header */
        }

        .support-content {
            max-width: 100%;
            padding-left: 20px;
            line-height: 28px;
            text-align: center; /* Center-align the text content */
        }

        .support-content label {
            display: block;
            margin-bottom: 8px;
            color: #999999;
        }

        .form-group {
            display: grid;
            grid-template-columns: 1fr; /* Change to a single column layout */
            align-items: center; /* Center-align the input boxes */
        }

        .form-group input,
        .form-group textarea {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            outline: none;
            border-bottom: 3px solid var(--fg-green);
            background-color: var(--bg-black);
            color: var(--fg-green);
            font-weight: 700;
            text-align: left; /* Reset text alignment for input and textarea */
            margin-left: auto; /* Center-align input and textarea */
            margin-right: auto; /* Center-align input and textarea */
        }

        .submit {
            width: 25%;
            border: 3px solid var(--fg-green);
            font-size: 1.4em;
            color: var(--fg-green);
            border-radius: 7px;
            font-weight: 900;
            margin: 0 auto;
            margin-right: 150px; /* Center-align the submit button */
        }

        .submit:hover {
            width: 25%;
            border: 3px solid var(--fg-green);
            font-size: 1.4em;
            color: #be57ff;
            border-radius: 7px;
            font-weight: 900;
            margin: 0 auto; /* Center-align the submit button */
        }

        .mobile-container {
            position: absolute;
            top: -20px;
            right: 20px;
            font-size: 16px;
            font-weight: 600;
            color: white;
        }
    }


